
.box{
	position:absolute;
	width:47%;
	height:47%;
	border: 1px #2E4852 solid;
	background-color: #292E34;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(41, 46, 52,0.34)), to(rgba(1,13,34,0.34)));
    background-image: -webkit-linear-gradient(rgba(41, 46, 52,0.34), rgba(1,13,34,0.34));
    background-image: -moz-linear-gradient(rgba(41, 46, 52,0.34), rgba(1,13,34,0.34));
    background-image: -o-linear-gradient(rgba(41, 46, 52,0.34), rgba(1,13,34,0.34));
    background-image: linear-gradient(rgba(41, 46, 52,0.34), rgba(1,13,34,0.34));
}

.title-img{
	position: absolute;
	width: 6px;
	height: 18px;
	background-color: #2EB4FD;
	border-radius:2px;
	top:10px;
	left:15px;
}
.box .title{
	position: absolute;
	top:5px;
	left:30px;
	font-size: 18px;
        color: #0AE9FE;
}

.article-entry{
	height:calc(100vh - 60px) !important;
	background-color:#1D2027 !important;
	position: relative;
}

.chart{
	position: relative;
	height: 90%;
	top:10%;
}
#upleft{
	left:2%;
	top:2%;
	
}#lowleft{
	left:2%;
	bottom: 2%;
}
#upright{
	top:2%;
	right:2%;
}
#lowright{
	bottom: 2%;
	right:2%;
}